<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WZERP_E_BUSINESS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WZERP_E_BUSINESS.Properties.Settings>
            <setting name="WZERP_E_BUSINESS_SI_EC5_ERP_AGREEMENT_SI_EC5_ERP_AGREEMENT_A_OUTService"
                serializeAs="String">
                <value>http://hqxt1.sinopec.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_EC5_QAS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_EC5_ERP_AGREEMENT_A_OUT&amp;interfaceNamespace=urn%3Asinopec%3Aec5%3Aagreement</value>
            </setting>
            <setting name="WZERP_E_BUSINESS_SI_WZERP_BID_PAYBACK_SI_EC5_BID_PAYBACK_REQ_A_OUTService"
                serializeAs="String">
                <value>http://hqxt1.sinopec.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_EC5_QAS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_EC5_BID_PAYBACK_REQ_A_OUT&amp;interfaceNamespace=urn%3Asinopec%3Aec5%3Awzerp%3Abid%3Apayment%3Ainfo</value>
            </setting>
            <setting name="WZERP_E_BUSINESS_SI_WZERP_ZQ_IF001_SI_WZERP_ZQ_IF001_A_OUTService"
                serializeAs="String">
                <value>http://hqxt1.sinopec.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_EC5_QAS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_WZERP_ZQ_IF001_A_OUT&amp;interfaceNamespace=urn%3Asinopec%3Aec5%3Azq%3Aagreement</value>
            </setting>
            <setting name="WZERP_E_BUSINESS_SI_EC5_STOCK_AUTHORIZE_SI_EC5_STOCK_AUTHORIZE_REQ_A_OUTService"
                serializeAs="String">
                <value>http://hqxt1.sinopec.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_EC5_QAS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_EC5_STOCK_AUTHORIZE_REQ_A_OUT&amp;interfaceNamespace=urn%3Asinopec%3Aec5%3Awzerp%3Apurchase%3Acontrol%3Aintegration</value>
            </setting>
            <setting name="WZERP_E_BUSINESS_SI_ERP_CONTRACT_INVOICE_RESULT_SI_EC5_CONTRACT_INVOICE_RESULT_A_OUTService"
                serializeAs="String">
                <value>http://hqxt1.sinopec.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_EC5_QAS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_EC5_CONTRACT_INVOICE_RESULT_A_OUT&amp;interfaceNamespace=urn%3Asinopec%3Aec5%3Awzerp%3Acontract</value>
            </setting>
            <setting name="WZERP_E_BUSINESS_SI_ERP_CONTRACT_PAID_RESULT_SI_EC5_CONTRACT_PAID_RESULT_A_OUTService"
                serializeAs="String">
                <value>http://hqxt1.sinopec.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_EC5_QAS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_EC5_CONTRACT_PAID_RESULT_A_OUT&amp;interfaceNamespace=urn%3Asinopec%3Aec5%3Awzerp%3Acontract</value>
            </setting>
            <setting name="WZERP_E_BUSINESS_SI_WZERP_ZQ_IF002_SI_WZERP_ZQ_IF002_A_OUTService"
                serializeAs="String">
                <value>http://hqxt1.sinopec.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_EC5_QAS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_WZERP_ZQ_IF002_A_OUT&amp;interfaceNamespace=urn%3Asinopec%3Aec5%3Azq%3Aagreement</value>
            </setting>
            <setting name="WZERP_E_BUSINESS_SI_EC5_STOCK_AFFRIM_SI_EC5_STOCK_AFFRIM_REQ_A_OUTService"
                serializeAs="String">
                <value>http://hqxt1.sinopec.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_EC5_QAS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_EC5_STOCK_AFFRIM_REQ_A_OUT&amp;interfaceNamespace=urn%3Asinopec%3Aec5%3Awzerp%3Apurchase%3Acontrol%3Aintegration</value>
            </setting>
            <setting name="WZERP_E_BUSINESS_SI_WZERP_AGREEMENT_TEXT_RESULT_SI_WZERP_AGREEMENT_TEXT_RESULT_A_OUTService"
                serializeAs="String">
                <value>http://hqxt1.sinopec.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_EC5_QAS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_WZERP_AGREEMENT_TEXT_RESULT_A_OUT&amp;interfaceNamespace=urn%3Asinopec%3Awzerp%3Aec5%3Aagreement%3Atext</value>
            </setting>
            <setting name="WZERP_E_BUSINESS_SI_EC5_WZERP_PAY_CONTRACT_RESP_SI_EC5_WZERP_PAY_CONTRACT_RESP_A_OUTService"
                serializeAs="String">
                <value>http://hqxt1.sinopec.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_EC5_QAS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_EC5_WZERP_PAY_CONTRACT_RESP_A_OUT&amp;interfaceNamespace=urn%3Asinopec%3Aec5%3Awzerp%3Acontract</value>
            </setting>
            <setting name="WZERP_E_BUSINESS_SI_WZERP_ZQ_IF006_RESP_SI_WZERP_ZQ_IF006_RESP_A_OUTService"
                serializeAs="String">
                <value>http://hqxt1.sinopec.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_EC5_QAS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_WZERP_ZQ_IF006_RESP_A_OUT&amp;interfaceNamespace=urn%3Asinopec%3Aec5%3Azq%3Aagreement</value>
            </setting>
            <setting name="WZERP_E_BUSINESS_SI_EC5_LOGISTICS_INFO_RESULT_SI_EC5_LOGISTICS_INFO_RESULT_A_OUTService"
                serializeAs="String">
                <value>http://hqxt1.sinopec.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_EC5_QAS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_EC5_LOGISTICS_INFO_RESULT_A_OUT&amp;interfaceNamespace=urn%3Asinopec%3Aec5%3Awzerp%3Alogistics%3Ainfo</value>
            </setting>
            <setting name="WZERP_E_BUSINESS_SI_EC5_WZERP_PR_REQ_SI_EC5_WZERP_PR_REQ_A_OUTService"
                serializeAs="String">
                <value>http://hqxt1.sinopec.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_EC5_QAS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_EC5_WZERP_PR_REQ_A_OUT&amp;interfaceNamespace=urn%3Asinopec%3Aec5%3Awzerp%3Apurchase%3Acontrol%3Aintegration</value>
            </setting>
            <setting name="WZERP_E_BUSINESS_SI_WZERP_PURCHASE_AMOUNT_SI_EC5_PURCHASE_AMOUNT_RESP_A_OUTService"
                serializeAs="String">
                <value>http://hqxt1.sinopec.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_EC5_QAS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_EC5_PURCHASE_AMOUNT_RESP_A_OUT&amp;interfaceNamespace=urn%3Asinopec%3Aec5%3Awzerp%3Apurchase%3Acontrol%3Aintegration</value>
            </setting>
            <setting name="WZERP_E_BUSINESS_SI_WZERP_BID_REFUND_SI_EC5_BID_REFUND_REQ_A_OUTService"
                serializeAs="String">
                <value>http://hqxt1.sinopec.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_EC5_QAS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_EC5_BID_REFUND_REQ_A_OUT&amp;interfaceNamespace=urn%3Asinopec%3Aec5%3Awzerp%3Abid%3Apayment%3Ainfo</value>
            </setting>
            <setting name="WZERP_E_BUSINESS_SI_WZERP_BID_TRANSFER_SI_WZERP_BID_TRANSFER_REQ_A_OUTService"
                serializeAs="String">
                <value>http://hqxt1.sinopec.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_EC5_QAS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_WZERP_BID_TRANSFER_REQ_A_OUT&amp;interfaceNamespace=urn%3Asinopec%3Aec5%3Abid%3Atransfer</value>
            </setting>
            <setting name="WZERP_E_BUSINESS_SI_EC5_ERP_CONTRACT_REQ_SI_EC5_WZERP_CONTRACT_REQ_A_OUTService"
                serializeAs="String">
                <value>http://hqxt1.sinopec.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_EC5_QAS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_EC5_WZERP_CONTRACT_REQ_A_OUT&amp;interfaceNamespace=urn%3Asinopec%3Aec5%3Awzerp%3Acontract</value>
            </setting>
            <setting name="WZERP_E_BUSINESS_SI_EC5_ERP_LOGISTICS_CONTRACT_SI_EC5_LOGISTICS_CONTRACT_A_OUTService"
                serializeAs="String">
                <value>http://hqxt1.sinopec.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_EC5_QAS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_EC5_LOGISTICS_CONTRACT_A_OUT&amp;interfaceNamespace=urn%3Asinopec%3Aec5%3Awzerp%3Acontract</value>
            </setting>
            <setting name="WZERP_E_BUSINESS_SI_ERP_CONTRACT_CLOSED_RESULT_SI_EC5_CONTRACT_CLOSED_RESULT_A_OUTService"
                serializeAs="String">
                <value>http://hqxt1.sinopec.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_EC5_QAS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_EC5_CONTRACT_CLOSED_RESULT_A_OUT&amp;interfaceNamespace=urn%3Asinopec%3Aec5%3Awzerp%3Acontract</value>
            </setting>
            <setting name="WZERP_E_BUSINESS_SI_EC5_ERP_CONTRACT_REQ1_SI_EC5_WZERP_CONTRACT_REQ_A_OUTService"
                serializeAs="String">
                <value>http://hqxt1.sinopec.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_EC5_QAS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_EC5_WZERP_CONTRACT_REQ_A_OUT&amp;interfaceNamespace=urn%3Asinopec%3Aec5%3Awzerp%3Acontract</value>
            </setting>
            <setting name="WZERP_E_BUSINESS_SI_EC5_ERP_LOGISTICS_CONTRACT1_SI_EC5_LOGISTICS_CONTRACT_A_OUTService"
                serializeAs="String">
                <value>http://hqxt1.sinopec.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_EC5_QAS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_EC5_LOGISTICS_CONTRACT_A_OUT&amp;interfaceNamespace=urn%3Asinopec%3Aec5%3Awzerp%3Acontract</value>
            </setting>
            <setting name="WZERP_E_BUSINESS_SI_ERP_CONTRACT_CLOSED_RESULT_A_IN_SI_EC5_CONTRACT_CLOSED_RESULT_A_OUTService"
                serializeAs="String">
                <value>http://hqxt1.sinopec.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_EC5_QAS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_EC5_CONTRACT_CLOSED_RESULT_A_OUT&amp;interfaceNamespace=urn%3Asinopec%3Aec5%3Awzerp%3Acontract</value>
            </setting>
            <setting name="WZERP_E_BUSINESS_SI_WZERP_ZQ_IF003_SI_WZERP_ZQ_IF003_A_OUTService"
                serializeAs="String">
                <value>http://hqxt1.sinopec.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_EC5_QAS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_WZERP_ZQ_IF003_A_OUT&amp;interfaceNamespace=urn%3Asinopec%3Aec5%3Azq%3Aagreement</value>
            </setting>
            <setting name="WZERP_E_BUSINESS_SI_WZERP_ZQ_IF004_SI_WZERP_ZQ_IF004_A_OUTService"
                serializeAs="String">
                <value>http://hqxt1.sinopec.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_EC5_QAS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_WZERP_ZQ_IF004_A_OUT&amp;interfaceNamespace=urn%3Asinopec%3Aec5%3Azq%3Aagreement</value>
            </setting>
            <setting name="WZERP_E_BUSINESS_SI_WZERP_ZQ_IF005_SI_WZERP_ZQ_IF005_A_OUTService"
                serializeAs="String">
                <value>http://hqxt1.sinopec.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_EC5_QAS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_WZERP_ZQ_IF005_A_OUT&amp;interfaceNamespace=urn%3Asinopec%3Aec5%3Azq%3Aagreement</value>
            </setting>
            <setting name="WZERP_E_BUSINESS_SI_EPEC_ORDER_CLOSE_RESP_SI_EPEC_ORDER_CLOSE_RESP_A_OUTService"
                serializeAs="String">
                <value>http://hqxt1.sinopec.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_IDEC_QAS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_EPEC_ORDER_CLOSE_RESP_A_OUT&amp;interfaceNamespace=urn%3Asinopec%3Aecc%3Awzerp%3Aepec%3Aintegration</value>
            </setting>
            <setting name="WZERP_E_BUSINESS_SI_EPEC_DO_POST_RESP1_SI_EPEC_DO_POST_RESP_A_OUTService"
                serializeAs="String">
                <value>http://hqxt1.sinopec.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_IDEC_QAS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_EPEC_DO_POST_RESP_A_OUT&amp;interfaceNamespace=urn%3Asinopec%3Aecc%3Awzerp%3Aepec%3Aintegration</value>
            </setting>
            <setting name="WZERP_E_BUSINESS_SI_EPEC_ORDER_APP_RESP_SI_EPEC_ORDER_APP_RESP_A_OUTService"
                serializeAs="String">
                <value>http://hqxt1.sinopec.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_IDEC_QAS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_EPEC_ORDER_APP_RESP_A_OUT&amp;interfaceNamespace=urn%3Asinopec%3Aecc%3Awzerp%3Aepec%3Aintegration</value>
            </setting>
            <setting name="WZERP_E_BUSINESS_SI_IDEC_EMARKET_PO_CONFIRM_SI_IDEC_EMARKET_PO_CONFIRM_A_OUTService"
                serializeAs="String">
                <value>http://hqxt1.sinopec.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_IDEC_QAS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_IDEC_EMARKET_PO_CONFIRM_A_OUT&amp;interfaceNamespace=urn%3Asinopec%3Aecc%3Amm%3Aidec_mro</value>
            </setting>
            <setting name="WZERP_E_BUSINESS_SI_WZERP_PAYBACK_RESULT1_SI_WZERP_PAYBACK_RESULT_A_OUTService"
                serializeAs="String">
                <value>http://hqxt1.sinopec.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_IDEC_QAS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_WZERP_PAYBACK_RESULT_A_OUT&amp;interfaceNamespace=urn%3Asinopec%3Aecc%3Awzerp%3Aepec%3Aintegration</value>
            </setting>
            <setting name="WZERP_E_BUSINESS_SI_IDEC_PO2ECC_REQ_A_SI_IDEC_PO2ECC_REQ_A_OUTService"
                serializeAs="String">
                <value>http://hqxt1.sinopec.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_IDEC_QAS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_IDEC_PO2ECC_REQ_A_OUT&amp;interfaceNamespace=urn%3Asinopec%3Aecc%3Amm%3Aidec_mro</value>
            </setting>
            <setting name="WZERP_E_BUSINESS_SI_EPEC_PO_JSJZ_RESP_SI_EPEC_PO_JSJZ_RESP_A_OUTService"
                serializeAs="String">
                <value>http://hqxt1.sinopec.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_IDEC_QAS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_EPEC_PO_JSJZ_RESP_A_OUT&amp;interfaceNamespace=urn%3Asinopec%3Aecc%3Awzerp%3Aepec%3Aintegration</value>
            </setting>
            <setting name="WZERP_E_BUSINESS_SI_EC5_DISPATCH_SO_REQ_DJZ_SI_EC5_DISPATCH_SO_REQ_DJZ_A_OUTService"
                serializeAs="String">
                <value>http://hqxt1.sinopec.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_EC5_QAS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_EC5_DISPATCH_SO_REQ_DJZ_A_OUT&amp;interfaceNamespace=urn%3Asinopec%3Aec5%3Adispatch%3Aso%3Arequest</value>
            </setting>
            <setting name="WZERP_E_BUSINESS_SI_EPEC_CRT_ORDER_REQ_A_IN_SI_EPEC_CRT_ORDER_REQ_A_OUTService"
                serializeAs="String">
                <value>http://hqxt1.sinopec.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_IDEC_QAS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_EPEC_CRT_ORDER_REQ_A_OUT&amp;interfaceNamespace=urn%3Asinopec%3Aecc%3Awzerp%3Aepec%3Aintegration</value>
            </setting>
        </WZERP_E_BUSINESS.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>